.all-links-header {
  text-decoration: none;
  color: #0c474a;
}

.links {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
}

.all-links-footer {
  text-decoration: none;
  color: black;
}
