<footer>
    <h4>Tienda</4>
      <nav>
        <ul>
          <li>Productos</li>
          <li>Cajoneras</li>
          <li>Para toda la casa</li>
          <li>Habitaciones</li>
        </ul>
      </nav>
    <h4>Nosotros</h4>
    <nav>
      <ul>
        <li>Nuetra Guía</li>
        <li>Nuestro diseño</li>
        <li>Nuestra historia</li>
        <li>Ayuda</li>
      </ul>
    </nav>
    <h4>Contacto</h4>
    <nav>
      <ul>
        <li>ayuda@openspaces.com</li>
        <li>Socios</li>
        <li><i class="fa-brands fa-linkedin-in">Linkedin</i></li>
        <li><i class="fa-brands fa-instagram">Instagram</i></li>
        <li><i class="fa-brands fa-twitter">Twitter</i></li>
      </ul>
    </nav>
    <a src="./index.html" title="Subir al inicio de la página"><img src="./assets/images/arrow.png" alt="Flecha hacia arriba"></a>
  </footer>