<section class="mixed-main">
  <article class="pumpkin-article">
    <img
      class="car"
      src="./assets/images/icon_4.png"
      alt="Furgoneta de reparto"
    />
    <h2 class="pumpkin-article__pumpkin-title">Envío gratis garantizado</h2>
    <p class="pumpkin-article__pumpkin-title--pumpkin-text">
      Envío gratis en compras desde 100
    </p>
    <a
      class="pumpkin-article__pumpkin-title--pumpkin-link"
      target="blank"
      href="https://www.adalab.es/"
      >Comprar ahora</a
    >
  </article>
  <div class="mixed">
    <article class="mixed-article">
      <div class="grid-mixed">
        <h2 class="mixed-article__mixed-title">Disfruta creando espacios</h2>
        <p class="mixed-article__mixed-title--mixed-text">
          Una línea de productos diseñados para todos tus espacios
        </p>
        <button class="mixed-button">
          <a
            class="links"
            class="mixed-button__mixed-link"
            target="blank"
            href="https://www.adalab.es/"
            >Comprar ahora</a
          >
        </button>
      </div>
      <img
        class="bathroom"
        src="./assets/images/creando-espacios.jpg"
        alt="Baño con plano de cestas de rollos de papel y toallas"
      />
    </article>
  </div>
</section>
