<section>
  <article>
    <img src="./assets/images/icon_4.png" alt="Furgoneta de reparto" />
    <h2>Envío gratis garantizado</h2>
    <p>Envío gratis en compras desde 100</p>
    <a src="#">Comprar ahora</a>
  </article>
  <article>
    <h2>Disfruta creando espacios</h2>
    <p>Una línea de productos diseñados para todos tus espacios</p>
    <button><a src="#">Comprar Ahora</a></button>
  </article>
  <img
    src="./assets/images/creando-espacios.jpg"
    alt="Baño con plano de cestas de rollos de papel y toallas"
  />
</section>
