// Section

.beige-main {
  background-color: $beige-background;
  text-align: center;
  display: grid;
  grid-gap: 60px;
  padding-bottom: 40px;
}

// Title

.open-title {
  text-align: center;
  font-size: 24px;
  color: $turquoise;
  padding-top: 41px;

  &__size-title {
    text-transform: uppercase;
  }
}

// Articles

.beige-article {
  padding: 0 100px;
  color: $turquoise;

  &__beige-title {
    padding: 42px 0 12px;
    font-size: 20px;
  }

  &__beige-title--beige-text {
    font-size: 16px;
  }
}
