// Section

.beige-main {
  background-color: $beige-background;
  text-align: center;
  padding-bottom: 40px;

  @media (min-width: 900px) {
    padding-bottom: 73px;
  }
}

.grid-articles {
  @media (min-width: 900px) {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 90px;
  }
}

// Title

.open-title {
  font-size: 24px;
  color: $turquoise;
  padding-top: 41px;

  @media (min-width: 900px) {
    padding-top: 63px;
  }

  &__size-title {
    text-transform: uppercase;
  }
}

// Articles

.icons {
  width: 90px;
  height: 99px;

  @media (min-width: 900px) {
    height: 106px;
  }
}

.beige-article {
  padding: 0 100px;
  color: $turquoise;

  @media (min-width: 900px) {
    padding: 52px 0 0;
    width: 208px;
  }

  &__beige-title {
    padding: 42px 0 12px;
    font-size: 20px;
  }

  &__beige-title--beige-text {
    font-size: 16px;
  }
}
