// Section

.beige-main {
  background-color: $beige-background;
  text-align: center;
  padding-bottom: 40px;

  @media (min-width: 900px) {
    padding-bottom: 73px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 86px;
  }
}

.grid-main {
  display: grid;
  justify-items: center;

  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 90px;
  }
}

// Title

.open-title {
  font-size: 1.5rem;
  color: $turquoise;
  padding-top: 41px;
  width: 322px;

  @media (min-width: 900px) {
    padding-top: 63px;
    width: 799px;
    grid-column: 1/4;
  }

  @media (min-width: 1200px) {
    font-size: 2.25rem;
    padding-top: 42px;
    width: 799px;
  }

  &__size-title {
    text-transform: uppercase;
  }
}

// Icons + articles

.icons {
  width: 90px;
  margin-top: 35px;

  @media (min-width: 1200px) {
    width: 120px;
    height: 120px;
  }
}

.beige-article {
  color: $turquoise;
  width: 208px;

  @media (min-width: 900px) {
    padding: 20px 0 0;
  }

  @media (min-width: 1728px) {
    width: 250px;
  }

  &__beige-title {
    padding: 42px 0 12px;
    font-size: 1.25rem;

    @media (min-width: 1200px) {
      font-size: 1.5rem;
      padding-bottom: 0;
    }

    @media (min-width: 1728px) {
      font-size: 1.75rem;
    }
  }

  &__beige-title--beige-text {
    font-size: 1rem;

    @media (min-width: 1728px) {
      font-size: 1.25rem;
    }
  }
}
