// Footer + section

.footer {
  background-color: $pumpkin-background;
  color: black;

  &__footer-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 56px;

    @media (min-width: 900px) {
      padding: 70px 0 0;
    }
  }
}

.footer-flex {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 900px) {
  .footer-title {
    color: $pumpkin-background;
  }

  .footer-flex {
    display: flex;
    gap: 120px;
    padding-bottom: 40px;

    &__social-flex {
      display: flex;
      align-items: center;
    }
  }
}

@media (min-width: 1200px) {
  .footer-flex {
    gap: 200px;
  }
}

// Footer title + list elements

.footer-title {
  font-size: 1.25rem;

  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }
}

.footer-list {
  list-style: none;
  padding: 45px 0;
  font-size: 0.875rem;

  @media (min-width: 1200px) {
    font-size: 1rem;
  }

  @media (min-width: 1728px) {
    font-size: 1.25rem;
  }

  &__li-size {
    text-transform: capitalize;
  }
}

.social-list {
  list-style: none;
  display: flex;
  padding-top: 15px;

  &__social-media {
    padding-right: 10px;
    color: black;
  }
}

.social-icons {
  width: 25px;

  @media (min-width: 1728px) {
    width: 35px;
  }
}

// Arrow

.arrow-link {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  padding-bottom: 16px;
}

.arrow {
  width: 24px;

  @media (min-width: 1728px) {
    width: 35px;
  }
}

@media (min-width: 900px) {
  .link-flex {
    transform: translateX(-5%) translateY(-120%);
  }
}
