// Imagen de fondo

.header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

// Hamburguesa

.start {
  list-style: none;
  position: fixed;

  &__hamburguer {
    width: 24px;
    height: 24px;
    margin: 55px 0 0 33px;

    @media (min-width: 900px) {
      margin: 75px 0 0 82px;
    }

    @media (min-width: 1728px) {
      display: none;
    }
  }
}

// Menú de inicio

.menu {
  display: none;
  padding-right: 81px;

  @media (min-width: 1728px) {
    display: flex;
    position: fixed;
    margin-left: -655px;
    padding-top: 38px;
  }

  &__list {
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    color: $turquoise;
    font-size: 1rem;
  }
}

// Disfruta creando espacios

.spaces {
  padding-top: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: 900px) {
    padding-top: 39px;
  }

  &__icon {
    height: 96px;
    text-align: center;
    padding-left: 45px;
  }
}

@media (min-width: 900px) {
  .ipad-spaces {
    text-align: left;
    margin-left: -147px;
    width: 430px;
  }
}

@media (min-width: 1728px) {
  .ipad-spaces {
    margin-left: -673px;
  }
}

.title {
  font-size: 1.5rem;
  color: $turquoise;
  font-weight: 600;
  padding-top: 160px;
  padding-bottom: 24px;

  @media (min-width: 900px) {
    font-size: 2.25rem;
  }

  @media (min-width: 1728px) {
    padding-top: 300px;
  }

  &__button {
    font-weight: 600;
    font-size: 1rem;
    background-color: $turquoise;
    text-transform: capitalize;
    padding: 12px 24px;
    border: none;
  }
}
