// Section

.mixed-main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.car {
  width: 120px;
  height: 120px;
}

// pumpkin article

.pumpkin-article {
  background-color: $pumpkin-background;
  padding: 46px 0 63px;
  color: $white-text;
  line-height: 35px;

  @media (min-width: 900px) {
    line-height: 40px;
  }

  &__pumpkin-title {
    font-size: 1.5rem;

    @media (min-width: 900px) {
      font-size: 1.875rem;
    }

    @media (min-width: 1200px) {
      font-size: 2.25rem;
    }
  }

  &__pumpkin-title--pumpkin-text {
    font-size: 0.875rem;

    @media (min-width: 1728px) {
      font-size: 1.1rem;
    }
  }

  &__pumpkin-title--pumpkin-link {
    font-size: 1rem;
    font-weight: 600;
    color: $white-text;
    display: grid;
    padding-top: 20px;

    @media (min-width: 900px) {
      padding-top: 10px;
    }
  }
}

// Mixed article

@media (min-width: 1200px) {
  .mixed {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.grid-mixed {
  width: 320px;

  @media (min-width: 900px) {
    width: 410px;
  }

  @media (min-width: 1200px) {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
  }
}

.mixed-article {
  background-color: $beige-background;
  color: $turquoise;
  padding-top: 125px;
  display: grid;
  justify-items: center;

  @media (min-width: 1200px) {
    display: flex;
    padding: 0;
  }

  &__mixed-title {
    font-size: 1.45rem;
    line-height: 40px;

    @media (min-width: 900px) {
      font-size: 1.875rem;
    }

    @media (min-width: 1200px) {
      font-size: 2.25rem;
      width: 430px;
      text-align: left;
      line-height: 50px;
    }
  }

  &__mixed-title--mixed-text {
    font-size: 0.875rem;

    @media (min-width: 1200px) {
      width: 281px;
      text-align: left;
      font-size: 1rem;
      padding-top: 15px;
    }

    @media (min-width: 1728px) {
      width: 350px;
      font-size: 1.25rem;
    }
  }
}

// Mixed button

.mixed-button {
  background-color: $turquoise;
  padding: 12px 24px;
  border: none;
  margin-top: 30px;

  &__mixed-link {
    font-size: 1rem;
    font-weight: 600;
    color: $white-text;
    text-decoration: none;
    text-transform: capitalize;
  }
}

.bathroom {
  width: 100vw;
  padding-top: 125px;

  @media (min-width: 1200px) {
    width: 55%;
    padding: 0;
  }
}
